@import 'tailwindcss';
@plugin "daisyui";
@config "../tailwind.config.js";

@layer base {
	@font-face {
		font-family: 'RedditSans';
		src: url('/fonts/Reddit_Sans/RedditSans.ttf');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'AlterType';
		src: url('/fonts/Altertype/Altertype.otf');
		font-weight: normal;
		font-style: normal;
	}
}
